@import '../variables.scss';

// lsit head
.filter-container {
  padding-bottom: 10px;
}

.filter-container .filter-item {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}

.filter-container__search,
.filter-container__ctrl {
  display: inline-block;
}
.filter-container__ctrl {
  float: right;
}
